<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.friendsofdo.workload.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="TODO_API_KEY"/>

        <activity
            android:name=".WorkloadActivity_"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".WorkplaceSelectionActivity_"/>

        <service android:name=".LogEventService_">
            <intent-filter>
                <action android:name="de.friendsofdo.workload.android.EVENT_IN" />
                <action android:name="de.friendsofdo.workload.android.EVENT_OUT" />
            </intent-filter>
        </service>
    </application>

</manifest>